@import url('https://fonts.googleapis.com/css2?family=Playwrite+IS:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Playwrite+AU+SA:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff2e0;
    background-image: url(assets/background.png);
    background-position: 50%;
    background-size: auto;
}

* {
    margin: 0;
    padding: 0;

}

::-webkit-scrollbar {
    width: 10px;
    border-left: 1px solid black;
}

::-webkit-scrollbar-thumb {
    background: #7E4B2C;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}

.heading {
    font-family: "Cinzel", serif;
    font-size: 32px;
    font-weight: bolder;
    color: #31403F;
}

/* Home section styling */
#home {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
}

.portrait_banner {
    display: none;
}

.landscape_banner {
    display: block;
}

/* Image styling */
.banner_image {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    height: 125vh;
    object-fit: fill;
    transform: translate(-50%, -50%);
    z-index: 1;
    transition: opacity 1s ease-in-out;
}

/* Video styling */
.banner_video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: fill;
    /* Changed from 'fill' to 'cover' for better aspect ratio */
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* When video is ready, show it */
.banner_video.playing {
    opacity: 1;
    z-index: 1;
}

/* Optional: Overlay content on top of the video */
#home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.4); */
    z-index: 0;
}

/* Style the Mute/Unmute button */
.mute-button {
    position: absolute;
    bottom: 20px;
    /* Adjust as needed */
    right: 20px;
    /* Adjust as needed */
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    border: none;
    color: white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    z-index: 10;
}

.mute-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.menu_tag {
    text-decoration: none;
    font-size: 20px;
    margin-right: 20px;
}

.menu_tag:hover {
    color: #fc894d;
}

.menu_tag.scrolled {
    color: black;
}

.bottom_nav {
    display: none;
}

.bottom_nav_button-75 {
    display: none;
}




/* ====================================================== desktop styles ====================================*/

.video_carousel {
    height: 50vh;
    width: 100%;
}

.testimonial_carousel {
    height: 50vh;
    width: 100%;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 50vh; */
    height: 147%;
    width: 100%;
}

.popup {
    display: none;
    position: fixed;
    z-index: 180;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Popup Content */
.popup-content {
    background-color: #fefefe;
    margin: 8% auto;
    padding: 6% 4%;
    width: 31%;
    /* height: 55%; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 3;
    position: relative;
    border: 4px solid #98614A;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

#enquiryForm h2 {
    color: #522b13;
}

form p {
    display: none;
    color: red;
    margin: 5px 0 0 5px;
    font-family: "Caudex", serif;
}

/* Hide the arrows in input of type number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/* For Internet Explorer */
input[type=number]::-ms-clear {
    display: none;
}

/* For Edge */
input[type=number]::-ms-reveal {
    display: none;
}

.form_input {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
}

form input {
    margin: 5px;
    width: 90%;
    padding: 10px;
    border: 2px solid #98614A;
    font-family: "Caudex", serif;
    font-size: 16px;
}

form label {
    font-size: 16px;
    color: #98614A;
    font-family: "Caudex", serif;
    margin-left: 5px;
}



/* The Close Button */
.close {
    position: absolute;
    color: #726f6f;
    float: right;
    font-size: 35px;
    font-weight: bold;
    top: 5%;
    right: 5%;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.submit_btn {
    height: 50px;
    width: 200px;
    background-color: #834328;
    color: white;
    font-size: 20px;
    border: none;
    font-family: 'caudex', sans-serif;
    transition: all 0.3s ease-in-out;
}

.submit_btn:hover {
    cursor: pointer;
    background-color: black;
}

.enquire_button {
    text-align: center;
    margin-top: 20px;
}

.logo_image {
    height: 116px;
    width: 115px;
    margin-top: 5px;
}

/* Existing CSS */
.why_choose {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% 0 0 0;
}

.why_choose_text {
    margin-top: 2%;
}

.facilities {
    padding-left: 4.7%;
}

.facilities ul {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.checkbox {
    background: url(./assets/checkbox.gif);
    height: 27px;
    width: 27px;
    background-size: 100%;
    margin-right: 5px;
    mix-blend-mode: darken;
}

.facilities ul p {
    margin: 0;
    padding: 0 2% 0 0;
    text-align: left;
    width: 90%;
}

/* Hide elements with the 'hidden' class */
.hidden {
    display: none;
}

/* Slide-Up Animation CSS */
.word-slide-up {
    display: inline-block;
    /* Allows transform and opacity to work */
    opacity: 0;
    transform: translateY(20px);
    animation: slideUp 0.5s forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.why_choose_text p {
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 24px;
    color: #31403F;
    font-family: "Barlow", sans-serif;
    line-height: 25px;
    padding: 0 5%;
    text-align: left;
}

.bold-text {
    font-weight: 700;
    /* Makes the text bold */
}

.bold-text.visible {
    opacity: 1;
    /* Fully visible */
    transform: translateY(0);
    /* Original position */
}

/* Word Animation */
.word {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: inline-block;
    /* Ensures proper spacing */
}

.word.bold-text {
    font-weight: 700;
    /* Ensures the text is bold */
}

strong {
    font-weight: bold;
    /* This is usually default, but you can customize it */
}


.word.visible {
    opacity: 1;
    transform: translateY(0);
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.service-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2% 5%;
    text-align: center;
}

/* 
.service-card h2 {
    font-family: "Caudex", serif;
    color: #31403F;
    font-size: 28px;
}

.service-card img {
    width: 55%;
}

.service-card div {
    padding: 5%;
}

.service-card div p {
    font-family: "Barlow", sans-serif;
    font-size: 22px;
    line-height: 33px;
} */


/* Parallax container */
.parallax {
    position: relative;
    height: 100vh;
    /* Full viewport height */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Individual background images */
#parallax1 {
    background-image: url('assets/services Images/services\ desktop/WEDDING.webp');
}

#parallax2 {
    background-image: url('assets/services Images/services desktop/Corporate\ events.webp');
}

#parallax3 {
    background-image: url('assets/services Images/services desktop/Corporate\ event.webp');
}

#parallax4 {
    background-image: url('assets/services Images/services\ desktop/Catering\ service.webp');
}

#parallax5 {
    background-image: url('assets/services Images/services desktop/Decor.webp');
}

#parallax6 {
    background-image: url('assets/services Images/services desktop/event planning.webp');
}

#parallax7 {
    background-image: url('assets/services Images/services desktop/PHOTOGRAPHER.webp');
}

#parallax8 {
    background-image: url('assets/services Images/services\ desktop/Live\ Bands.webp');
}

/* Content inside parallax */
.content {
    background: rgba(0, 0, 0, 0.7);
    /* Semi-transparent background */
    color: #fff;
    margin-bottom: 20px;
    padding: 20px 30px;
    width: 100%;
    text-align: center;
}

.content h2 {
    margin-bottom: 15px;
    font-size: 2em;
    font-family: "Caudex", serif;
}

.content p {
    font-size: 1.2em;
    font-family: "Barlow", sans-serif;
    line-height: 30px;
}

#amenities {
    display: flex;
    flex-direction: row;
    padding: 50px;
    /* Optional: Change as needed */
}

.amenities-img {
    flex: 1 1 50%;
    padding-right: 20px;
    background-image: url('assets/amenities.webp');
    background-size: cover;
    background-position: 53% 55%;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.amenities-container {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.amenities-headings {
    margin-bottom: 30px;
    padding: 0 0 0 5%;
}

.amenities-headings p {
    font-size: 20px;
    color: #777;
    font-family: "Caudex", serif;
}

.amenity {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    padding: 2% 5%;
}

.amenity img {
    width: 60px;
    /* Fixed width for uniformity */
    height: 60px;
    /* Fixed height for uniformity */
    object-fit: contain;
    margin: 7px 20px 0 0;
}

.amenity-text h2 {
    font-size: 23px;
    margin-bottom: 5px;
    color: #333;
    font-family: "Caudex", serif;
}

.amenity-text p {
    font-size: 20px;
    color: #555;
    line-height: 1.5;
}


#gallary {
    margin-top: 5%;
}

#gallary h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel {
    --color-default-state: #ddd;
    --color-active-state: #14005a;
    position: relative;
    width: 65vw;
    height: 80vmin;
}

.carousel_track-container {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.carousel_track {
    position: relative;
    width: inherit;
    height: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

.carousel_slide,
.carousel_image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
}

.carousel_slide {
    padding: 5% 12% 8%;
    text-align: center;
    transform: translateX(-100%);
    transition: transform .3s ease-out;
}

.carousel_slide.is-selected {
    transform: translateX(0);
}

.carousel_slide.is-selected~.carousel_slide {
    transform: translateX(100%);
}

.carousel_image {
    z-index: -1;
}

.carousel_image>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border: none;
}

.carousel_title {
    font-size: 40px;
    color: #fff;
}

.carousel_btn,
.carousel_dot {
    z-index: 1;
    padding: 0;
    cursor: pointer;
    border: none;
}

.carousel_btn {
    position: absolute;
    top: 50%;
    background-color: transparent;
    transform: translateY(-50%);
    background-color: #fff2e0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jsNextIcon,
.jsPrevIcon {
    font-size: 55px !important;
    color: #98614A;
}

.jsNextIcon {
    transform: rotate(-90deg);
}

.jsPrevIcon {
    transform: rotate(90deg);
}

.carousel_btn:focus,
.carousel_dot:focus,
.carousel_btn:active,
.carousel_dot:active {
    outline: none;
}

.carousel_btn>* {
    pointer-events: none;
}

.carousel_btn svg {
    fill: var(--color-default-state);
    transform-origin: center;
    transition: fill .2s;
}

.carousel_btn:hover svg {
    fill: var(--color-active-state);
}

.jsPrev {
    left: -22px;
}

.jsNext {
    right: -22px;
}

.jsPrev svg {
    transform: rotate(-90deg);
}

.jsNext svg {
    transform: rotate(90deg);
}

.carousel_nav {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel_dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--color-default-state);
    transition: background-color .2s;
}

.carousel_dot+.carousel_dot {
    margin-left: 20px;
}

.carousel_dot.is-selected {
    background-color: #98614A;
    border: 1px solid white;
}

.video_container {
    margin-top: 50px;
    display: grid;
    place-items: center;
}

.video {
    width: 90%;
}

#map.map-section {
    padding: 60px 20px;
    /* Light gray background for contrast */
    text-align: center;
    /* Center align heading */
}

#map.map-section .map {
    width: 90%;
    height: 60vh;
    margin: 10px auto;
    /* Center the map */
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow */
}

#map.map-section iframe {
    width: 100%;
    height: 100%;
    border: none;
}


footer#contact_us {
    background-color: #461d0b;
    color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

footer#contact_us .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1% 2%;
}

footer#contact_us .footer-section {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer#contact_us .section-heading {
    font-size: 1.8rem;
    color: #ffffff;
    /* Underline with soft blue */
    padding-bottom: 5px;
}

footer#contact_us .contact-info .info-item {
    width: 30%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
}

footer#contact_us .contact-info h3 {
    font-size: 22px;
    margin-bottom: 3px;
    color: #ffffff;
    font-family: "Cinzel", serif;
}

footer#contact_us .contact-info p,
footer#contact_us .contact-info a {
    font-size: 17px;
    color: #dddddd;
    text-decoration: none;
    line-height: 25px;
}

footer#contact_us .contact-info a {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer#contact_us .contact-info a:hover {
    color: #ffffff;
    /* White on hover */
}

/* Social Icons (Uncomment if needed) */
footer#contact_us .social-icons {
    display: flex;
    gap: 15px;
}

footer#contact_us .social-icons a img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

footer#contact_us .social-icons a img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.info-item-mobile,
.info-item-mail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.info-item-mobile {
    margin-bottom: 10px;
}

.bottom-call {
    color: white;
    font-size: 24px !important;
    margin: 0 5px 1px 0;
}


/* =============================desktop with more than 1024 width========================*/

nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 98vw;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-color: transparent;
    /* border-bottom: 3px solid white; */
    z-index: 150;
    top: -1px;
    transition: all 0.3s ease-in-out;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

nav ul li {
    margin-right: 50px;
    opacity: 0;
    transform: translateY(-30px);
    transition: opacity 0.5s, transform 0.5s;
}

#nav-links li:nth-child(1) {
    transition-delay: 0.1s;
}

#nav-links li:nth-child(2) {
    transition-delay: 0.2s;
}

#nav-links li.animate {
    opacity: 1;
    transform: translateY(0);
}

nav ul li a {
    text-decoration: none;
    font-family: "Cinzel", serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.3s;
}

nav ul li a:hover {
    color: #000;
    font-size: 20.5px;
}

nav ul li a img {
    margin-top: 5%;
    width: 125px;
    height: 120px;
    mix-blend-mode: color;
}

.nav-items-hamburger {
    display: none;
}

.mobile-nav {
    display: none;
}


#menu {
    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0px;
    }
}

.button_nav {
    display: none;
}

.hamburger {
    display: none;
}

.side_icon {
    display: none;
    position: fixed;
    margin-top: 200px;
    right: 0px;
    z-index: 15;
    height: 50px;
    width: 49px;
    background-color: transparent;
    border-radius: 10px 0 0 10px;
    transition: all 0.3s;
}


.side_nav_button-75 {
    align-items: center;
    background-color: #98614A;
    border: 0;
    box-sizing: border-box;
    color: #FFF2E0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-family: "cinzel", serif;
    font-size: 20px;
    font-weight: 700;
    height: 54px;
    justify-content: center;
    letter-spacing: .4px;
    line-height: 1;
    width: 215px;
    padding: 0 20px 0 20px;
    text-decoration: none;
    text-transform: uppercase;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 30px 0 0 -23px;
    transform: rotate(90deg) translateY(62px) translatex(28px);
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px;
}



.slider {
    position: static;
}

.main_div {
    width: 60%;
    height: 70vh;
    box-shadow: 0px 0px 1px grey;
    margin: auto;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 1s;
}

#contact_us {
    /* border: 1px solid red; */
    flex-direction: column;
}

.enquire_button {
    margin-top: 5vh;
}

.phone_icon {
    display: none;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;

}

.video iframe {
    width: 57.6vw;
    height: 70vh;
    border-radius: 10px;
}


.address a {
    text-decoration: none;
    color: white;
}


/* ====================================================== tab styles ====================================*/

@media (min-width: 768px) and (max-width: 991.98px) {
    .button-75 {
        font-size: 15px;
        height: 50px;
    }

    .button-75 span {
        line-height: 50px;
    }
}



/* ====================================================== Mobile styles ====================================*/
@media only screen and (max-width: 768px) {

    nav {
        width: 95vw;
        padding: 0 10px;
    }

    .nav-items {
        display: none;
    }

    nav ul li a img {
        margin-top: 8%;
        width: 115px;
        height: 100px;
    }

    .nav-items-hamburger {
        display: block;
    }

    .nav-items-hamburger li {
        margin: 0;
    }

    .hamburger {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger input {
        display: none;
    }

    .hamburger svg {
        height: 3em;
        transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .line {
        fill: none;
        stroke: #ffffff;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 3;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
            stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    nav.scrolled .line {
        stroke: #000000;
    }

    .line-top-bottom {
        stroke-dasharray: 12 63;
    }

    .hamburger input:checked+svg {
        transform: rotate(-45deg);
    }

    .hamburger input:checked+svg .line-top-bottom {
        stroke-dasharray: 20 300;
        stroke-dashoffset: -32.42;
    }

    .mobile-nav {
        height: 60vh;
        display: none;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        position: fixed;
        z-index: 100;
        background-color: white;
        background-image: url('assets/mobile\ nav\ background.webp'), linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7));
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 4px solid #7E4B2C;
        border-radius: 0 0 20px 20px;
        box-shadow: 0 451px 0 rgba(0, 0, 0, 0.7);
        width: 87vw;
        padding: 50px 0 0 13%;
        animation: fadeIn 0.5s ease-in-out forwards;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    .mobile-nav ul {
        list-style: none;
    }

    .mobile-nav li {
        opacity: 0;
        animation: slideIn 0.5s ease-in-out forwards;
        margin-bottom: 25px;
    }

    @keyframes slideIn {
        from {
            transform: translateX(-100%);
        }

        to {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .mobile-nav a {
        text-decoration: none;
        color: black;
        margin-bottom: 40px;
        font-family: "Cinzel", serif;
        font-size: 23px;
        font-weight: 600;
        padding: 10px 15px;
    }

    .mobile-nav a.active {
        color: #7E4B2C;
        padding: 10px 15px;
        font-size: 26px;
        position: relative;
        /* Needed for the pseudo-element positioning */
    }

    .mobile-nav a.active::before {
        content: "✧";
        position: absolute;
        left: -20px;
        top: 10%;
        color: #7E4B2C;
        font-size: 30px;
    }

    .mobile-nav li:nth-child(1) {
        animation-delay: 0.1s;
    }

    .mobile-nav li:nth-child(2) {
        animation-delay: 0.2s;
    }

    .mobile-nav li:nth-child(3) {
        animation-delay: 0.3s;
    }

    .mobile-nav li:nth-child(4) {
        animation-delay: 0.4s;
    }

    .mobile-nav li:nth-child(5) {
        animation-delay: 0.5s;
    }

    .mobile-nav li:nth-child(6) {
        animation-delay: 0.6s;
    }

    .mobile-nav li:nth-child(7) {
        animation-delay: 0.7s;
    }


    .bottom_nav {
        display: flex;
        position: fixed;
        bottom: 0;
        background-color: #98614A;
        width: 100%;
        height: 60px;
        z-index: 100;
        align-items: center;
        justify-content: center;
        transition: all 0.3s;
    }

    .bottom_nav_button-75 {
        align-items: center;
        background-color: #FFF2E0;
        border: 0;
        box-sizing: border-box;
        color: #98614A;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        font-family: "cinzel", serif;
        font-size: 19px;
        font-weight: 700;
        height: 60px;
        justify-content: center;
        letter-spacing: .4px;
        line-height: 1;
        max-width: 100%;
        padding: 2px 20px 0 20px;
        text-decoration: none;
        text-transform: uppercase;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        border: 2px solid #98614A;
    }

    .portrait_banner {
        display: block;
    }

    .landscape_banner {
        display: none;
    }

    .banner_image {
        object-fit: cover;
        width: 120%;
        transform: none;
        top: 0;
        left: -11%;
        height: 100vh;
    }

    #home {
        height: 88vh;
    }

    .main_div {
        width: 90%;
        height: 223px;
        box-shadow: 0px 0px 1px grey;
        margin: auto;
        margin-top: 30px;
        /* border: 1px solid red; */
        position: relative;
        overflow: hidden;
        border-radius: 10px;
    }

    .why_choose {
        flex-direction: column;
    }


    .side_icon {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        right: 15px;
        z-index: 10;
        height: 55px;
        width: 55px;
        background-color: #98614A;
        border-radius: 50%;
        bottom: 75px;
    }

    .phone_icon {
        display: block;
    }

    .side-nav-call {
        margin-top: 5px;
        font-variation-settings:
            'FILL' 0,
            'wght' 300,
            'GRAD' 200,
            'opsz' 48;
        /* Match this with font-size */
        color: rgb(255, 255, 255);
        font-size: 36px !important;
    }


    .side_enquiry_button {
        display: none;
    }

    .side_nav_button-75 {
        display: none;
    }

    .why_choose_text p {
        font-size: 18px;
        padding: 0 3%;
        text-align: center;
    }


    .facilities ul {
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-bottom: 10px;
        align-items: flex-start;
    }

    .heading {
        font-size: 24px;
    }

    .checkbox {
        width: 30px;
        background-size: 100%;
        background-repeat: no-repeat;
        margin-top: 1%;
    }

    .services {
        margin: 0;
    }

    .services-container {
        margin-top: 10%;
    }

    .service-card {
        flex-direction: column;
        padding: 5% 0;
    }

    /* #services-reverse {
        flex-direction: column-reverse;
    }

    .service-card div {
        height: 25vh;
    }
/* 
    .service-card img {
        width: 100%;
        height: 30vh;
    } */
    .parallax {
        position: relative;
        height: 100vh;
        /* Full viewport height */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Individual background images */
    #parallax1 {
        margin-top: 10px;
        background-image: url('assets/services Images/Services mobile/wedding.webp');
    }

    #parallax2 {
        background-image: url('assets/services Images/Services mobile/event.webp');
    }

    #parallax3 {
        background-image: url('assets/services Images/Services mobile/corporate\ event.webp');
    }

    #parallax4 {
        background-image: url('assets/services Images/Services mobile/Catering\ service.webp');
    }

    #parallax5 {
        background-image: url('assets/services Images/Services mobile/Decor.webp');
    }

    #parallax6 {
        background-image: url('assets/services Images/Services mobile/event\ planing.webp');
    }

    #parallax7 {
        background-image: url('assets/services Images/Services mobile/PHOTOGRAPHER.webp');
    }

    #parallax8 {
        background-image: url('assets/services Images/Services mobile/dj\ and\ live\ music.webp');
    }

    .content {
        padding: 20px;
    }

    .content h2 {
        font-size: 24px;
    }

    .content p {
        font-size: 18px;
        line-height: 25px;
    }

    #amenities {
        flex-wrap: wrap;
        padding: 0;
        flex-direction: column;
    }

    .amenities-headings .heading {
        margin: 20px 0 0 0;
    }

    .amenities-img {
        padding: 0;
        display: block;
        flex: auto;
    }

    .carousel {
        width: 87vw;
        height: 58vmin;
    }

    .jsNextIcon,
    .jsPrevIcon {
        font-size: 45px !important;
    }

    .video iframe {
        width: 99vw;
        height: 23.5vh;
    }

    .contact {
        display: flex;
        flex-direction: column;
        margin-top: 10vh;
        height: 50vh;

    }

    .contact #map {
        width: 100vw;
        height: 50vh;
        margin-top: 50%;
        text-align: center;
        margin-bottom: 20px;
    }

    #map.map-section .map {
        width: 100%;
    }

    .map {
        height: 40vh;
    }

    .map h2 {
        text-align: center;
    }

    iframe {
        width: 100vw;
        height: 40vh;

    }

    .contact .address {
        margin-top: 0%;
        margin-bottom: 10%;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: rgb(0, 24, 56);
        width: 100%;
        color: white;
    }

    .address a {
        text-decoration: none;
        color: white;
    }

    .address div {
        padding: 0 10%;
    }

    .popup {
        height: 100vh;
    }

    .popup-content {
        background-color: #fefefe;
        margin: 50% auto;
        width: 78%;
        padding: 10% 7%;
    }

    form input::placeholder {
        color: rgb(0, 0, 0);
        font-size: 14px;
        /* Adjust font size */
    }

    .enquire_button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0 0 0;
    }

    .slider {
        position: static;
    }

    .slide {
        width: 100%;
        height: 100%;
        position: absolute;
        transition: 1s;
    }

    .video_container {
        margin-top: 20px;
    }

    footer#contact_us {
        margin: 0 0 59px;
        padding: 20px 20px 30px 20px;
    }

    footer#contact_us .footer-section {
        flex-direction: column;
    }

    footer#contact_us .contact-info .info-item {
        width: 100%;
    }

    footer#contact_us .contact-info a {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .bottom-call {
        color: white;
        font-size: 24px !important;
        margin: 0 5px 1px 0;
    }
}


@media only screen and (max-width: 380px) {
    #home {
        height: 85vh;
    }

    .banner_image {
        top: 0%;
        left: -1%;
        object-fit: cover;
        width: 102%;
        transform: none;
        height: 100vh;
    }

    nav ul li a img {
        margin-top: 8%;
        width: 115px;
        height: 115px;
    }

    .hamburger svg {
        height: 2.3em;
    }

    .mobile-nav {
        height: 70vh;
        /* padding-top: 30px; */
        padding-top: 20px;
    }

    .mobile-nav a {
        font-size: 16px;
    }

    .mobile-nav a.active {
        font-size: 20px;
    }

    .mobile-nav a.active::before {
        font-size: 20px;
        top: 14.5%;
        left: -8px;
    }


    .side-nav-whatsapp-icon {
        height: 35px;
        width: 35px;
    }

    .bottom-nav {
        width: 100vw;
        padding: 20px 0px 20px 8px;
    }

    .bottom-nav div a {
        padding-right: 10px;
        justify-content: center;
    }

    .bottom-nav div a div {
        height: 4vh;
        margin: 0;
    }

    .bottom_nav {
        height: 45px;
    }

    .heading {
        font-size: 20px;
    }

    .bottom_nav_button-75 {
        height: 45px;
        font-size: 16px;
    }

    .popup-content {
        margin: 35% auto;
    }

    .why_choose_text p {
        font-size: 15px;
    }

    .facilities {
        padding-left: 3%;
    }

    .service-card h2 {
        font-size: 24px;
    }

    .service-card div p {
        font-size: 18px;
        line-height: 28px;
    }

    .amenities-headings p {
        font-size: 1.2em;
    }

    .amenity-text h2 {
        font-size: 1.4em;
    }

    .amenity-text p {
        font-size: 1.1em;
    }

    .carousel {
        width: 85vw;
    }

    .video iframe {
        width: 99vw;
        height: 28.5vh;
    }

    .contact #map {
        margin-top: 65%;
    }
}